<h2>Productos</h2>

<script>
let nombreGuardado = sessionStorage.getItem('nombre');
let mayusculas = nombreGuardado.toUpperCase();
if (mayusculas) {
    document.write("<h2>Bienvenido <span style='color: red;'>" + mayusculas + "</span> Estos Son Los Productos Disponibles</h2>");
  } else {
    document.write("<h2>Bienvenido Estos Son Los Productos Disponibles</h2>");
  }
</script>

<hr>
<ul id="productos">
    {{#each products}}
  <li>Categoría:{{category}}
  	<ul>
    <li>Marca:
        {{title}} - code: <strong>{{code}}</strong>
    </li>
  	<li>Descripción: {{description}}</li>
  	<li>Precio: {{price}}</li>
  	</ul>
  </li>
  {{/each}}
</ul>
<br><br>

<input type="button" value="Home Page" onclick="document.location.href='/'" />

<script src="socket.io/socket.io.js"></script>
<script src="js/products.js"></script>