<h2>Productos</h2>
<hr>
<ul id="productos">
    {{#each products}}
  <li>Categoría:{{category}}
  	<ul>
    <li>Marca:
        {{title}} - code: <strong>{{code}}</strong>
    </li>
  	<li>Descripción: {{description}}</li>
  	<li>Precio: {{price}}</li>
  	</ul>
  </li>
  {{/each}}
</ul>
<br><br>

<input type="button" value="Home Page" onclick="document.location.href='/'" />

<script src="socket.io/socket.io.js"></script>
<script src="js/products.js"></script>